#GitIgnore
*camera_ws
*camera_ws2/angulos_timestamps.csv
*camera_ws2/senoidal_amplio.csv
*camera_ws2/calibration_params.yml
*camera_ws2/log/**
*camera_ws2/angulos_timestamps.csv
*camera_ws2/rosbag2_2025_05_08-10_57_28

!*camera_ws2/log/.gitkeep
